<footer class="revealed">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p><img src="map/img/spots-bg.png" width="160" height="34" alt="SpotsMap" id="logo"></p>
                <p>Be wired, <br>Be silly, <br>Be strange, <br>Break the mold!</p>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>Competitions</h3>
                <ul>
                    <li><a href="https://www.rollersports.org.tw/catalog12">中華民國滑輪溜冰協會</a></li>
                    <li><a href="https://theboardr.com/international_skateboarding/TPE/Chinese_Taipei">The Boardr</a></li>
                    <li><a href="https://www.worldskate.org/skateboarding.html">WORLD SKATE</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>Recommand</h3>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC_acKIK7YW8yRhJ40ljqlYg">9CE Youtube</a></li>
                    <li><a href="https://www.youtube.com/channel/UCXE97zDpHmoDG_CJ_XAtpwQ">Switch Skate Shop</a></li>
                    <li><a href="https://www.youtube.com/@a13579321">JIA YUAN</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h3>Settings</h3>
                <div class="styled-select">
                    <select name="lang" id="lang">
                        <option value="English" selected>繁體中文</option>
                        <option value="French">French</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Russian">Russian</option>
                    </select>
                </div>
                <div class="styled-select">
                    <select name="currency" id="currency">
                        <option value="USD" selected>NTD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="RUB">RUB</option>
                    </select>
                </div>
            </div>
        </div><!-- End row -->
    <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100092488051211&mibextid=ZbWKwL"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/twskateboardmap/"><i class="icon-instagram"></i></a></li>
                    </ul>
                    <p>© Wakudesign 2023</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>

