<footer class="revealed">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>瀏覽次數 Views</h3>
                <ul>
                    <li>歷史瀏覽次數： <%= viewCount %> 次</li>
                    <!-- <li>本月瀏覽次數： <%= viewMonthly %> 次</li> -->
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Need help?</h3>
                <a href="/skateboard.map.spot" id="email_footer">waku.help@gmail.com</a>
                <a href="https://www.instagram.com/twskateboardmap/" id="email_footer">台灣滑板地圖<i class="icon-instagram"></i>Instagram</a>
                <a href="https://www.facebook.com/profile.php?id=100092488051211&mibextid=ZbWKwL" id="email_footer">台灣滑板地圖<i class="icon-facebook"></i>Facebook粉絲專頁</a>
            </div>
            <div class="col-md-4">
                <h3>ADs</h3>
                <ul>
                    <!-- <li><a href="/skateboard.map.spot">關於我們 Abuot Us</a></li> -->
                    <!-- <li><a href="/skateboard.map.spot">會員登入 Login</a></li> -->
                </ul>
            </div>
        </div><!-- End row -->
        <div class="row">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6684087118034118"
                crossorigin="anonymous"></script>
            <!-- Footer -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:728px;height:90px"
                data-ad-client="ca-pub-6684087118034118"
                data-ad-slot="8809561876"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100092488051211&mibextid=ZbWKwL"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/twskateboardmap/"><i class="icon-instagram"></i></a></li>
                    </ul>
                    <p>© Wakudesign 2023</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>
