<header id="plain">    
    <div class="container"> 
        <div class="row">
            <div class="col-3">
                <div id="logo_home">
                    <h3><a href="/skateboard.map.spot" title="滑板地圖"></a></h3>
                </div>
            </div>
            <nav class="col-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                     </div>
                    <a class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                     <ul> 
                        <li class="submenu">
                            <a href="/skateboard.map.spot" class="show-submenu">首頁 Home</a>
                        </li>
                        <!-- <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu">板點情報 Spots<i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="/skateboard.map.spot/citySpot">板點一覽 AllSpots</a></li>
                                <li><a href="index_22.html" data-bs-toggle="modal" data-bs-target="#myReview">板點回報 FeedBack</a></li>
                            </ul>
                        </li> -->
                        <li class="submenu">
                            <a href="/skateboard.map.spot/interviews" class="show-submenu">專訪 Interviews</a>
                        </li>
                        <li class="submenu">
                            <a href="/skateboard.map.spot/events" class="show-submenu">活動 Events</a>
                        </li>
                        <li class="submenu">
                            <a href="/skateboard.map.spot/riders" class="show-submenu">選手 Riders</a>
                        </li>
                        <li class="submenu">
                            <a href="/skateboard.map.spot/spotsmap" class="show-submenu">板點 Spots</a>
                        </li>
                        <!-- <li class="submenu">
                            <a href="/skateboard.map.spot/styles" class="show-submenu">風格 Snaps</a>
                        </li> -->
                        <li class="submenu">
                            <a href="/skateboard.map.spot/products" class="show-submenu">精選配件 Picks</a>
                        </li>
                        <!-- <li class="submenu">
                            <a href="/skateboard.map.spot/admin" class="show-submenu">MySnaps</a>
                        </li> -->
                        <!-- <li class="submenu">
                            <a href="/skateboard.map.spot/news" class="show-submenu">文章列表 News</a>
                        </li> -->
                    </ul>
                </div>
                <!-- End main-menu -->
                    <ul id="top_tools"> 
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" data-bs-toggle="dropdown" class="cart_bt"><i class="icon-user"></i></a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <% if (typeof isAuthenticated !== 'undefined') { %>
                                        <li>
                                            <a href="/skateboard.map.spot/users/logout" class="button_drop outline" style="width:100%;">登出</a>
                                        </li>
                                        <li>
                                            <a href="/skateboard.map.spot/order" class="button_drop outline" style="width:100%;">訂單管理</a>
                                        </li>
                                        <li>
                                            <a href="/skateboard.map.spot/order" class="button_drop outline" style="width:100%;">會員資料</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="button_drop outline" style="width:100%;">Snaps</a>
                                        </li>            
                                    <% }else{ %>
                                        <li>
                                            <a href="/skateboard.map.spot/users/login" class="button_drop outline" style="width:100%;">登入</a>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                            <!-- End dropdown-cart-->
                        </li>
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" data-bs-toggle="dropdown" class="cart_bt"><i class=" icon-basket"></i><strong id="cart_length"></strong></a>
                                <ul class="dropdown-menu" id="updated_cart_items">

                                </ul>
                            </div>
                            <!-- End dropdown-cart-->
                        </li>
                    </ul>
            </nav> 
        </div>
    </div><!-- container -->
</header> 

