<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <base href="/">
    <%- include('shared/head') %>

    <meta name="application-name" content="WakuStudio">
    <meta property="og:site_name" content="WakuStudio">
    <meta name="author" content="WakuStudio">
    <meta property="article:author" content="https://wakudesign.com">
  
    <title>精心打造之作-WakuStudio</title>
  
    <meta name="description" content="這裡匯聚了我們在平面設計、視覺設計和網頁設計領域的精心打造之作。">
    <meta name="keywords" content="平面設計, 視覺設計, 網頁設計">
    <meta name="url" itemprop="url" content="https://wakudesign.com/project">
    <meta property="og:url"                content="https://wakudesign.com/project" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="精心打造之作-WakuStudio" />
    <meta property="og:description" content="這裡匯聚了我們在平面設計、視覺設計和網頁設計領域的精心打造之作。" />
    <link rel="canonical" href="https://wakudesign.com/project">
    
    <meta property="og:image"              content="waku/images/A02.png" />
    <meta property="og:image:width"        content="600" />
    <meta property="og:image:height"       content="600" />
  </head>
  <body>
    
    <%- include('shared/nav') %>
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('waku/images/image_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Project</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Project <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
	<section class="ftco-section">
		<!-- Title -->
    	<div class="container">
    		<div class="row justify-content-start mb-5 pb-2">
				<div class="col-md-4 heading-section ftco-animate">
					<span class="subheading subheading-with-line"><small class="pr-2 bg-white">Projects</small></span>
					<h2 class="mb-4">精選專案</h2>
				</div>
				<div class="col-md-8 pl-md-5 heading-section ftco-animate">
					<div class="pl-md-4 border-line">
						<p>這裡匯聚了我們在平面設計、視覺設計和網頁設計領域的精心打造之作。我們將我們的創意、專業知識和創新思維融入每一個專案，請隨意瀏覽，探索我們過去的創作，希望您可以在這裡找到靈感，同時也期待著為您的未來專案帶來新的創意和驚喜。</p>
						<p class="category mt-5">
							<span class="active mr-2"><a href="javascript:void(0);">All Work</a></span>
							<span class="mr-2"><a href="javascript:void(0);">視覺設計</a></span>
							<span class="mr-2"><a href="javascript:void(0);">網頁架設</a></span>
							<span class="mr-2"><a href="javascript:void(0);">Landscape</a></span>
						</p>
					</div>
				</div>
			</div>
    	</div>
    	<div class="container-wrap">
			<!-- assets -->
    		<div class="row no-gutters">
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/asset_1.png" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3><a href="project.html">Office Interior Design</a></h3>
	    				</div>
	    				<a href="waku/images/asset_1.png" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/asset_2.png" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/asset_2.png" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Landscape Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Exterior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Exterior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Landscape Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Exterior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Exterior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="waku/images/defultRider.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3>Office Interior Design</h3>
	    				</div>
	    				<a href="waku/images/defultRider.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    		</div>
			<!-- page -->
			<div class="row no-gutters mt-5">
				<div class="col text-center">
					<div class="block-27">
					<ul>
						<li><a href="#">&lt;</a></li>
						<li class="active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&gt;</a></li>
					</ul>
					</div>
				</div>
			</div>
    	</div>
    </section>
    
	<!-- footer & js -->
	<%- include('shared/footer') %>
    
  </body>
</html>